<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="img\subhanu nav.jpg">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="css\style.css">
	<link rel="stylesheet" type="text/css" href="css\footer.css">
	<link rel="stylesheet" href="swiper\-bundle.min.css">
	<title>Subhanu Technologies</title>
</head>
<body>

	<!-- Navbar Section Start -->
	<nav class="navbar navbar-dark navbar-expand-lg"
		uk-sticky="top:100; animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
		<div class="container">
			<a href="index.html" class="navbar-brand">
				<img src="img\subhanu nav.jpg" width="15" class="img-fluid p-10"
					style="width: 10%; filter:0 brightness(0) invert(1);">
				<div class="ml-2 p-0  webT" id=logo-text-desktop style="color:white;">Subhanu Technologies & Solutions</div>
				<div class="ml-2 p-0  webT" id=logo-text-mob style="color:white;">Subhanu Technologies</div>
			</a>
			<button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navBar" style="border: 1px solid white;"
				aria-expanded="false">
				<span class="navbar-toggler-icon navbar-toggler-right"></span>
			</button>
			<div class="collapse navbar-collapse" id="navBar">
				<ul class="navbar-nav  ml-auto ">
					<li class="nav-item ">
						<a class="nav-link " href="index.html">Home</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="services.html">Offerings</a>
						<ul id="submenu">
						<li><a href="hr.html">HR Services</a></li>
						<li><a href="it.html">IT Services</a></li>
						<li><a href="training.html">Training Services</a></li>
						<li><a href="product.html">Products</a></li>
						</ul>
					</li>
					<li class="nav-item  ">
						<a class="nav-link" href="blog.html">Blog</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Nav Section End -->

	<!-- Slider Section Start -->
	<section id="slider" class="bg-dark">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item crs-img-1 active">
					<div class="container">
						<div class="carousel-caption pb-5 mb-5 text-left">
							<h2 class="primary-my-headers text-light">Excellence in Consulting</h2>
							<p class="lead">
								Subhanu excels in consulting, with expert consultants delivering <br>high-quality
								solutions tailored to diverse client needs.</p>
							<div class="align-right">
								<a href="index.html" class="btn btn-success">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item crs-img-2">
					<div class="container">
						<div class="carousel-caption mb-5 text-center">
							<h2 class="primary-my-headers text-light">Empowering Future Generations</h2>
							<p>
								We also empower with our KiddyPi and RAPIDD Academy activites.</p>
							<div class="align-right">
								<a href="index.html" class="btn btn-success">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item crs-img-3">
					<div class="container">
						<div class="carousel-caption pb-5 mb-5 text-left">
							<h2 class="primary-my-headers text-light">Diverse Project <br>Portfolio</h2>
							<p>
								Our diverse project portfolio reflects our commitment to excellence, innovation, <br>and
								pushing technological boundaries.</p>
							<div class="align-right">
								<a href="index.html" class="btn btn-success">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item crs-img-4">
					<div class="container">
						<div class="carousel-caption pb-5 mb-5 text-left">
							<h2 class="text-light primary-my-headers">Ethical and Responsible IT</h2>
							<p>
								We ensure that our solutions are always ethical and responsible.</p>
							<div class="align-right">
								<a href="index.html" class="btn btn-success">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a href="#myCarousel" class="carousel-control-next" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</section>
	<!-- Slider Section End -->

	<!-- Showcase Section Start -->
	<section id="showcase">
		<div class="container"><br>
			<h2 style="text-align:center"><b>Our Offerings</b></h2>
			<div class="row py-5 text-center">
				<div class="col-lg-3 col-md-3">
					<i class="fas fa-handshake mb-3"></i>
					<h3><b>HR Services</b></h3>
					<p class="lead mt-2"> We help businesses find the ideal employees by first understanding their
						needs, then sourcing qualified candidates, and finally providing training to ensure a seamless
						fit.</p>
				</div>
				<div class="col-lg-3 col-md-3">
					<i class="fas fa-laptop-code mb-3"></i>
					<h3><b>IT Services</b></h3>
					<p class="lead mt-2">We offer a range of services, including consulting, client project development,
						software products, and Offshore Development Centers (ODC).</p>
				</div>
				<div class="col-lg-3 col-md-3">
					<i class="fas fa-users mb-3"></i>
					<h3><b>Training Services</b></h3>
					<p class="lead mt-2">We offer STEM education for kids through KiddyPi and job training for
						professionals through RAPIDD Academy, equipping individuals with the technical skills they need.
					</p>
				</div>
				<div class="col-lg-3 col-md-3">
					<i class="fas fa-robot mb-3"></i>
					<h3><b>Products</b></h3>
					<p class="lead mt-2">We offer STEM-focused educational products designed to make technology learning
						fun and accessible for children.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Showcase Section End -->

	<!-- Get Started Section Start -->
	<section id="get-started" class="text-center py-5 text-light">
		<div class="inner-overlay">
			<div class="container">
				<div class="row">
					<div class="col mt-5 pt-4 gC">
						<p class="lead">
							<i>"Before you start some work, always ask yourself three questions - Why am I doing it,
								What the results might be and Will I be successful. Only when you think deeply and find
								satisfactory answers to these questions, go ahead."</i>
						<h3 class="text-light"><b>-Arthashastra&nbsp;&nbsp;</b></h3>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Get Started Section End -->

	<!-- Info Section Start -->
	<section id="info" class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 justify-content-center text-left infoS">
					<h2><b>About Us</b></h2>
					<p class="lead">
						Subhanu strives to create a collaborative and agile work environment where employees are
						encouraged to share ideas, tackle challenges, and uphold values. We prioritize finding
						the right talent to join our team, fostering a community dedicated to ethical innovation.
					</p>
					<a href="about.html" class="btn btn-outline-dark">Read More</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 align-self-center">
					<img src="img\aboutus1.png" class="img-fluid">
				</div>
			</div>
		</div>
	</section>
	<!-- Info Section End -->

	<!-- Gallery Section Start -->
	<section id="gallery1" class="py-5" uk-lightbox>
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<h2 class="mb-0"> <b>Feature Projects</b></h2>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<a href="img\1.png">
						<img src="img\1.png" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<a href="img\2.png">
						<img src="img\2.png" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<a href="img\3.png">
						<img src="img\3.png" class="img-fluid">
					</a>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<a href="img\4.png">
						<img src="img\4.png" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<a href="img\5.png">
						<img src="img\5.png" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<a href="img\6.png">
						<img src="img\6.png" class="img-fluid">
					</a>
				</div>
			</div>
			</div>
		</div>
	</section>
	<!-- Gellery Section End -->

	<!--testimonial section start-->
	<div class="container1">
  <div class="testimonial-slider swiper">
	<h1><center>Testimonials</center></h1>
    <div class="swiper-wrapper">
      <div class="swiper-slide testimonial-item">
		<div class="testimonial-card ">
        <img src="img\man.png" alt="Person 1">
        <p>"Very good environment to work in, and highly skilled mentors to guide us for the internship. I would definitely recommend people take up an internship at Subhanu Technologies to enhance their skills in the industry."</p>
        <span>- Likith B Girish<br>Intern</span>
      </div>
	  </div>
	  <div class="swiper-slide testimonial-item">
		<div class="testimonial-card ">
        <img src="img\human (1).png" alt="Person 2">
        <p>"I had an amazing internship experience at Subhanu Technologies . The team was incredibly supportive and provided valuable learning opportunities.  I would definitely recommend it to anyone looking for an internship opportunity."</p>
        <span>- Aishwarya Murali<br>Intern</span>
      </div>
	  </div>
	  <div class="swiper-slide testimonial-item">
		<div class="testimonial-card ">
        <img src="img\man.png" alt="Person 3">
        <p>"Great experience! I completed my internship in embedded systems here. Highly recommended place for first timers to start their internship."</p>
        <span>- Amogh<br>Intern</span>
      </div>
	  </div>
      <div class="swiper-slide testimonial-item">
		<div class="testimonial-card ">
        <img src="img\human (1).png" alt="Person 4">
        <p>"We had a SDP conducted by this company in our college. They taught us ML using Raspberry Pi. The trainers are excellent. It was a wonderful learning experience."</p>
        <span>- Hamsini<br>Intern</span>
      </div>
	  </div>
	  </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
	</div>
  </div>
  </div>
  <script src="js\-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.testimonial-slider', {
      slidesPerView: 1,
      spaceBetween: 50, // Adjust spacing between testimonials
      loop: true,
      autoplay: {
        delay: 3000, // Change delay between slides in milliseconds (optional)
      },
    });
  </script> 
	<!--testimonial section ends-->

	<!-- Footer Section Start -->
		<footer class="footer-body">
			<div class="footer-box">
				<div class="footer-item">
					<div class="logo">
						<img src="img\subhanu_footer-removebg-preview.png" alt="image loading">
					</div>
					<div class="social-media-iconss">
						<ul>
							<li><a href="https://www.facebook.com/profile.php?id=100066713505705&mibextid=ZbWKwL"
									target="_blank" class="facebook-icon">
									<i class="fab fa-facebook-f"></i>
								</a></li>
							<li><a href="https://www.linkedin.com/company/subhanu/" target="_blank" class="social-icon">
									<i class="fab fa-linkedin-in"></i>
								</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-item">
					<ul>
						<h3><b>Quick links</b></h3>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Offerings</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="footer-item">
					<ul>
						<h3><b>Offerings</b></h3>
						<li><a href="hr.html">HR Services</a></li>
						<li><a href="it.html">IT Services</a></li>
						<li><a href="training.html">Training Services</a></li>
						<li><a href="product.html">Products</a></li>
					</ul>
				</div>
				<div class="footer-item footer-box-3">
					<ul>
						<h3><b>Contact us</b></h3>
						<li>Subhanu Technologies & Solutions.</li>
						<li>50/7, Ground Floor, MSR Complex, 39th cross, </li>
						<li> 16th Main, 4th T block, Bengaluru-560041</li>
						<li>Email : info@subhanu.com</li>
						<li>Phone: +91 98453 49742 </li>
						<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 98451 75710</li>
					</ul>
				</div>
			</div>
			<div class="last-footer">
				<p>Subhanu Technologies & Solutions © 2024 All Rights Reserved.</p>
			</div>
		</footer>
<script type="text/javascript" src="js/jquery-slim.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/uikit.min.js"></script>
<script type="text/javascript" src="js/uikit-icons.min.js"></script>
<script type="text/javascript" src="css/demo.js"></script>
</body>
</html>